<div
  class="w-[400px] rounded-xl p-6 shadow-custom border-2 border-[#fffdfe80] bg-transparent backdrop-blur-xl space-y-8"
>
  <h1 class="text-white text-3xl font-bold text-center uppercase">Đăng nhập</h1>
  <form class="space-y-8" [formGroup]="loginForm" (ngSubmit)="handleSubmit()">
    <span class="p-float-label">
      <input
        aria-describedby="email-help"
        pInputText
        id="Email"
        class="text-white"
        formControlName="email"
      />
      <label for="Email">Email</label>
    </span>
    @if (loginForm.controls.email.errors?.['required']) {
    <small id="email-help" class="text-red-500"
      >Email không được để trống.</small
    >
    } @else if (loginForm.controls.email.errors?.['email']) {
    <small id="email-help" class="text-red-500"
      >Email không đúng định dạng.</small
    >
    }
    <span class="p-float-label">
      <span class="p-float-label">
        <input
          aria-describedby="password-help"
          pInputText
          id="Password"
          class="text-white"
          formControlName="password"
        />
        <label for="Password">Mật khẩu</label>
      </span>
    </span>
    @if (loginForm.controls.password.errors?.['required']) {
    <small id="password-help" class="text-red-500"
      >Mật khẩu không được để trống.</small
    >
    }
    <div class="space-y-4">
      <p-button label="Đăng nhập" type="submit"></p-button>
      <p class="text-white text-base text-center">
        Bạn chưa có tài khoản?
        <a
          routerLink="/register"
          class="hover:text-blue-500 hover:underline hover:font-bold"
          >Đăng ký</a
        >
      </p>
    </div>
  </form>
</div>
